* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important; 
}

header .navbar{
    background-color: #f2f2f2 !important;
}

#navbarNavDropdown{
    margin-left: 20px !important;
}

.logo img{
    display: flex;
    justify-content: center;
    width: 15rem;
    padding: 20px;
}

.indexlogo{
    filter: invert(100);
    width: 4rem;
}

.selector{
flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selector button{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono{
    filter: invert(100);
    width: 25px;
    margin-right: 5px;
}

.navbar-nav{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
}

.body_index{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bienvenida{
    padding: 20px;
    text-align: center;
}

input::placeholder {
  opacity: 0.5 !important;        /* opcional, por defecto es 0.5 en algunos navegadores */
}

.dropdown-item{
    display: flex;
    align-items: center;
    justify-content: left;
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent; /* o el color que quieras */
  color: inherit;               /* mantiene el color original del texto */
  box-shadow: none;             /* evita el borde azul en algunos navegadores */
}


.form-select:focus {
  box-shadow: none; 
  border-color: #dee2e6;
}

.form-control:focus{
    border-color: #dee2e6 !important;
      box-shadow: none;
}

#cerrar_sesion{
    background-color: #DC3444;
}

#cerrar_sesion:hover{
    background-color: #ff3f52;
}

#exit{
    color: white;
}

#exit:hover{
    background-color: #ff3f52;
}

#exit .icono.invert_color {
  filter: brightness(0) invert(1) !important;
}