* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600 !important; 
}

.logo img{
    display: flex;
    justify-content: center;
    width: 15rem;
    padding: 10px;
    margin-right: 15px;
}

.indexlogo{
    filter: invert(100);
    width: 4rem;
}

.selector{
    display: flex;
    flex-direction: column;
}

.selector button{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono{
    filter: invert(100);
    width: 25px;
}

.navbar-nav{
    display: flex;
    gap: 10px;
}

.selector{
    flex: 1; /* ocupa todo el espacio restante */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

a{
    text-decoration: none;
}

.body_index{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bienvenida{
    padding: 20px;
    text-align: center;
}